#container
{
	margin: 0 auto;
	width: 800px;
	background:#fff;
}

#header
{
	background:#2B4E72;
	padding: 20px;
	font-family: "Helvetica";
	color: #fff
}

#header h1 { 
	margin: 0; 
}

#navigation
{
	float: left;
	width: 800px;
	background:#353432;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	border-right: 2px solid#2790B0;
}

#navigation li a:hover { background:#2790B0; }

#content
{
	clear: left;
	font-family: "Helvetica";
	font-size: 90%;
	padding: 20px;
}

#content a
{
	color:#2790B0;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background:#353432;
	color:#fff;
	font-size: small;
	text-align: right;
	padding: 20px;
	height: 1%;
}


