<html>
<head>
  <title> {{ page.title }} </title>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <link rel="stylesheet" href="css/syntax.css" type="text/css" />
</head>
<body>
<div id="container">
  <div id="header">
    <h1>
      Android Labs
    </h1>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="setup.html">Setup</a></li>
      <li><a href="lab1.html">Lab 1</a></li>
      <li><a href="lab2.html">Lab 2</a></li>
      <li><a href="lab3.html">Lab 3</a></li>
      <li><a href="lab4.html">Lab 4</a><li>
      <li><a href="lab5.html">Lab 5</a><li>
      <li><a href="lab6.html">Lab 6</a><li>
    </ul>
  </div>
  <div id="content">
   <h2>{{ page.title }}
   {{ content }}
  <div id="footer">
    Copyright &copy; 2011 Security Compass
  </div>
</div>
</body>
</html>
